/* .App {
  text-align: center;
} */

.search {
  /* background-image: url(./mpc-hc64_mldyurQtOq.jpg); */ /*Recortarle la altura */
  /* background-image: url(./pjimage-30.jpg);   */  /*Posible ganador mover el search y la info del planeta abajo de la imagen */
  /* background-image: url(./PORTADARICKMORTY.png);     Posible ganador mover el search y la info del planeta abajo de la imagen */
  /* background-image: url(./rick-and-morty-4k-wallpaper-scaled.jpg); Posible ganador */
  /*
   background-image: url(./RICKMORTY_PRESENTS_V1_-_COVER_A_FNL_WEB.jpg); GANADORA
   background-image: url(./S1e10_eyyyy.png); GANADORA
   background-image: url(./1103754.jpg); GANADORA
   background-image: url(./91ht9KbsprL.jpg); Recortarle la altura 
  */
  background-image: url(./Rick-And-Morty-Wallpapers-67-Galaxy-Wallpapers-From-WallpaperHook.com-For-Free.png); /*GANADORA*/  
  background-repeat: no-repeat;
  min-height: 105vh; /*105*/  
  color: white;  
  display: flex;
  flex-direction: column;  
  /* align-items:flex-start;  */
  /* justify-content: center; */
  border: 1px solid white;
}

.search > div:first-child {
  margin-top: 20px;  
  flex-basis: 100%;
  height: 20px;  
  display: flex;
  justify-content: center;
}

.search > div:first-child > input[type="text"] {
  border: 2px solid green;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: #ccc;
  font-size: calc(0.4rem + 1vmin);
  text-transform: capitalize;  
  min-width: 270px;
  text-align: center;
}

.search > div:first-child > button {
  /* background-color: #ca3434; */
  background-image: url(./nave2.png);
  background-repeat: no-repeat;
  height: 93px;
  width: 154px;
  border: 1px solid #87c386;
  border-radius: 5px;
  margin-left: 10px;
  font-size: calc(0.4rem + 1vmin); 
  color: #87c386;
  text-transform: uppercase; 
}



.search > div:last-child {  
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

.search > div:last-child > h4 {
  margin-right: 10px;
  font-size: calc(0.6rem + 1vmin); 
}



@media (max-width: 432px){   
    
  .search {
    background-image: url(./cell02.jpg);  /* GANADORA*/
    /* background-image: url(./cell03.jpg);  GANADORA     */
    background-repeat: no-repeat;
    min-height: 100vh;  
    color: white; 
  }

  .search > div:first-child > input[type="text"] {     
    min-width: 165px;    
  }
  
  
}


.info-characters {
  /* background-color: #282c34; */
  background-color: #026003;
  min-height: 100vh;  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.info-characters > div {
  /* border: 1px solid white; */
  margin-bottom: 40px;
}

